<div class="interesting psge-section">
    <h3 class="subtitle">Интересные факты о технологии резки</h3>

    <div class="interesting__inner">
        <img class="interesting__img" src="images/services/interesting/1.jpg" alt="">
        <div class="interesting__content">
            <h4 class="interesting__title">Суть плазменной резки листового металла</h4>
            <div class="interesting__text">
                <p>
                    Плазменная резка стали в быту осуществляется аппаратами, вместе с которыми в комплекте идут шланги
                    длиной до 12 м. Ручные устройства имеют режущую головку. снабженную рукояткой с кнопкой включения. В
                    таких условиях используется воздушное охлаждение, поскольку оно проще в исполнении и не требуют
                    дополнительного охлаждающего блока. Водяное охлаждение используется в промышленных агрегатах, на
                    которых ведется плазменная резка листовой стали, оно более эффективно, но и цена устройства более
                    высокая.
                </p>
            </div>
        </div>
    </div>

    <div class="interesting__inner">
        <div class="interesting__content">
            <h4 class="interesting__title">Кислородно-плазменная технология</h4>
            <div class="interesting__text">
                <p>
                    Кислородно-плазменная резка требует в качестве расходных материалов специальные электроды и сопло,
                    испытывающее значительное температурное воздействие. Сначала зажигается вспомогательная дуга,
                    которая возбуждается от разряда, создаваемого осциллятором установки. За счет дуги создается факел
                    плазмы длиной 20-40 мм. Когда факел касается металла, возникает рабочая дуга, а вспомогательная
                    отключается. Таким образом, плазма выступает проводником между устройством и заготовкой.
                    Возникшаядуга самоподдерживается, она создает плазму за счет ионизации молекул воздуха. Резка
                    металла плазмой использует рабочее тело температурой до 25000°C.
                </p>
            </div>
        </div>
        <img class="interesting__img" src="images/services/interesting/2.jpg" alt="">
    </div>

    <div class="interesting__inner">
        <img class="interesting__img" src="images/services/interesting/3.jpg" alt="">
        <div class="interesting__content">
            <h4 class="interesting__title">Резка плазмой труб большого диаметра и других заготовок</h4>
            <div class="interesting__text">
                <p>
                    Плазменная резка и сварка может осуществляться в условиях цехов и мастерских, а также на открытом
                    воздухе. Может быть, этот способ нельзя назвать настолько же эффективным, как газопламенные
                    установки, в ремонтных и строительных работах, когда нет центральных систем электроэнергии и подачи
                    сжатого воздуха. В этом случае требуется достаточно мощный генератор, который обеспечивает энергией
                    аппарат и компрессор.
                </p>
                <p>
                    Как и газопламенная резка, этот способ можно использовать для обработки заготовок различного размера
                    и формы. Плазменная резка труб юольшого диаметра не представляет проблем: она выполняется вручную
                    или при помощи самоходных машин. Они совершают оборот по внешней стороне трубы с закрепленной
                    горелкой. Использование самоходных машин обеспечивает точный и ровный рез.
                </p>
            </div>
        </div>
    </div>
</div>