<section class="services page-section">
    <div class="container">
        <h2 class="title title--left">Плазменная резка</h2>
        <div class="services__text">
            <p>
                Плазменная резка - это новая передовая технология, которая позволяет с помощью струи плазмы, возникающей
                при прохождении газа через электрод, разрезать листы металла. Данная технология быстро была признана во
                всех странах мира как одна из передовых в данной сфере. Шло время, технология совершенствовалась. Новые
                разработки инженеров и ученых находили свое отражение и в модернизации оборудования для плазменной
                резки. Это не только улучшало качество реза, но и увеличивало производительность, одновременно снижая
                затратную часть.
            </p>
            <p>
                Благодаря новой постоянно совершенствующейся технологии был обеспечен экономический рывок для многих
                предприятий, деятельность которых связана с металлом. Автоматезированные системы довели процесс
                плазменной резки до идеального.Оборудование с ЧПУ способно выполнять операции без непосредственного
                участия человека. Широкое применение плазменная резка обрела благодаря быстрому, точному и экономически
                выгодному способу раскроя металлических листов. Эта технология резки очень востребованав любом
                производстве, где осуществляется работа с металлическими изделиями. Способ плазменной резки
                металлапозволяет изготавливать изделия из металла разной конфигурации и формы.
            </p>
        </div>

        @include('../_technology/_technology.html')

    </div>

    @include('../_specifications/_specifications.html')

    <div class="container">

        @include('../_price/_price.html')

        @include('../_services-benefits/_services-benefits.html')

        @include('../_orders/_orders.html')

        @include('../_interesting/_interesting.html')


    </div>
</section>