<section class="gallery page-section">
  <div class="container">
    <h2 class="title title--left">Примеры работ</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/1.jpg" style="background-image: url(images/gallery/1.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Установка в оранжевом цвете</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/2.jpg" style="background-image: url(images/gallery/2.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Рама станка сделана из 70ой профильной трубы</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/3.jpg" style="background-image: url(images/gallery/3.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Упаковка станка перед отгрузкой</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/4.jpg" style="background-image: url(images/gallery/4.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Отправляем ТК в любой регион</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/5.jpg" style="background-image: url(images/gallery/5.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Упакованный пульт управления</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/6.jpg" style="background-image: url(images/gallery/6.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Плазменная установка Start S-WT со стойкой</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/7.jpg" style="background-image: url(images/gallery/7.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Программа проверочной вырезки</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/8.jpg" style="background-image: url(images/gallery/8.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Фигурный рез на станке</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/9.jpg" style="background-image: url(images/gallery/9.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Стол можно изготовить самим без особых проблем</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/10.jpg" style="background-image: url(images/gallery/10.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Установка с газовым резаком</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/11.jpg" style="background-image: url(images/gallery/11.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Установка в оранжевом цвете</p>
        </a>
      </li>
      <li class="gallery__item">
        <a class="gallery__link zoom" href="images/gallery/12.jpg" style="background-image: url(images/gallery/12.jpg);"
          width="350" height="205" data-fancybox="images">
          <p class="gallery__description">Отправляем ТК в любой регион</p>
        </a>
      </li>
    </ul>
  </div>
</section>