<section class="about page-section">
  <div class="container">
    <h2 class="title title--left">О компании</h2>
    <div class="about__text">
      <p>
        ООО «Пензенский машиностроительный завод» (ООО «ПМЗ») – это перспективно развивающееся предприятие
        российского рынка по производству комплектующих для нефте-газоперерабатывающей, химической,
        металлургической, энергетической и пищевой промышленности.
      </p>
      <p>
        Стратегия развития компании предусматривает создание машиностроительного предприятия федерального уровня,
        которое сможет комплексно обеспечивать потребности заказчиков в комплектующих. Сегодня специалисты ООО
        «ПМЗ» постоянно развивают свои компетенции как в сфере инжиниринга и строительства целых
        машиностроительных комплексов, так и в области внедрения новых технологий.
      </p>
      <p>
        Производство на Пензенском машиностроительном заводе отвечает самым современным международным
        экологическим требованиям в области производства фланцев и деталей для соединения трубопроводов.
      </p>
      <p>
        Наши сотрудники являются высококвалифицированными профессионалами, имеющие паспортные допуски для работы
        на современном оборудовании. Все специалисты проходят ежегодную аттестацию по квалификациям. Мы оперативно
        решаем поставленные задачи и предлагаем выгодные цены на выпускаемую высококачественную и надежную
        продукцию.
      </p>
    </div>
    <h3 class="about__title">Объекты основного производства</h3>
    <h4 class="about__title">Фланцы</h4>
    <ul class="about__list--custom">
      <li class="about__item--custom">стальные плоские приварные</li>
      <li class="about__item--custom">воротниковые</li>
      <li class="about__item--custom">аппаратные</li>
    </ul>
    <h4 class="about__title">Обработка металлов</h4>
    <div class="about__text">
      <p>
        Токарная обработка деталей позволяет обработать резанием любые поверхности деталей (наружные и
        внутренние):
      </p>
    </div>
    <ul class="about__list">
      <li class="about__item">нарезание резьбы (внутренней и наружной);</li>
      <li class="about__item">прорезание пазов, канавок;</li>
      <li class="about__item">торцевание;</li>
      <li class="about__item">снятие фасок;</li>
      <li class="about__item">отрезание;</li>
      <li class="about__item">обработка поверхностей вращения, конических и цилиндрических;</li>
    </ul>
    <h3 class="about__title">Основные средства производства</h3>
    <div class="about__text">
      <p>
        Производственный комплекс ООО «ПМЗ» обладает производственной базой, которая включает в себя:
        механосборочное производство и лабораторию для проведения неразрушающего контроля.
      </p>
      <p>
        Механосборочное производство оснащено универсальным станочным и другим специальным оборудованием для
        механической обработки деталей.
      </p>
      <p>
        В парк производственного оборудования компании входят следующие единицы оборудования:
      </p>
    </div>
    <ul class="about__list--custom">
      <li class="about__item--custom">универсальный токарно-винторезный станок ДИП-500</li>
      <li class="about__item--custom">универсальный токарно-винторезный станок ДИП-300</li>
      <li class="about__item--custom">станок токарно-винторезный облегченного типа к 16К25</li>
      <li class="about__item--custom">радиально-сверлильный станок серии 2Н554</li>
      <li class="about__item--custom">токарно-карусельный станок 12Н16</li>
    </ul>
    <div class="about__text">
      <p>
        Также на заводе существует <span>развитый отдел логистики</span> , в котором задействован персонал с
        многолетним опытом работы и хорошо отработанных схемах грузоперевозок. Сотрудники также занимаются
        вопросами складской логистики, оформлением сопроводительной документации для перевозимых грузов.
      </p>
    </div>
  </div>
</section>