<div class="technology">
    <h3 class="subtitle">Преимущества технологии плазменной резки</h3>
    <div class="technology__inner">
        <img class="technology__img" src="images/services/plasma.jpg" alt="" width="650" height="406">
        <ul class="technology__list">
            <li class="technology__item">Высокое качество конечного результата</li>
            <li class="technology__item">Высокая скорость обработки и производительность</li>
            <li class="technology__item">Максимально точная резка, погрешность которой не превышает +0,05мм</li>
            <li class="technology__item">Шероховатость краев бывает малозначительной (rz20)</li>
            <li class="technology__item">Идеально прямые линии реза</li>
            <li class="technology__item">Точность и выверенность параметров углов изделий согласно чертежу</li>
            <li class="technology__item">Отсутсвие окалин при обработке тонколистовых материалов</li>
            <li class="technology__item">Минимальное термическое воздействие на сплавы, что исключает деформацию
                заготовок</li>
            <li class="technology__item">Отсутсвие прямого контакта луча с материалом заготовок</li>
            <li class="technology__item">Экономичность расхода листов при раскройке - объем отходов
                малозначительный
            </li>
        </ul>
    </div>
</div>