<footer class="footer">
  <div class="container">

    <div class="footer__inner">

      <div class="footer__box">
        <h3 class="footer__title">Виды продукции:</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Продукция 1</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Продукция 2</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Продукция 3</a>
          </li>
        </ul>
      </div>

      <div class="footer__box">
        <h3 class="footer__title">Услуги:</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Лазерная резка</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Плазменная резка</a>
          </li>
        </ul>
      </div>

      <div class="footer__box">
        <a class="footer__copy" href="#" id="copy">Политика защиты персональных данных</a>
      </div>

      <div class="footer__box">
        <h3 class="footer__title">Контактные данные:</h3>
        <ul class="footer__list">
          <li class="footer__item">Телефон: 8 (804) 333 68 30</li>
          <li class="footer__item">Email: ang.borisova2015@yandex.ru</li>
          <li class="footer__item">Адрес: ул.Лазерной резки, д.1</li>
          <li class="footer__item">Координаты навигатора: 123456 654321</li>
        </ul>
        <div class="footer__contact">
          <a class="footer__phone btn" href="tel:8(804)3336830"></a>
          <a class="footer__email btn" href="#">Задать вопрос</a>
          <a class="footer__social" href="#">
            <img class="footer__img" src="images/icons/vk.svg" alt="">
          </a>
        </div>

      </div>

    </div>

  </div>
</footer>