<div class="services-benefits page-section">

    <h3 class="subtitle">Почему выбирают нас?</h3>
    <ul class="services-benefits__list">
        <li class="services-benefits__item">
            <img class="services-benefits__img" src="images/services/services-benefits/1.jpg" alt="">
            <div class="services-benefits__description">
                <p>
                    Склад с металлом
                </p>
            </div>
        </li>
        <li class="services-benefits__item">
            <img class="services-benefits__img" src="images/services/services-benefits/2.jpg" alt="">
            <div class="services-benefits__description">
                <p>
                    Плазменная резка и гибка листового металла
                </p>
            </div>
        </li>
        <li class="services-benefits__item">
            <img class="services-benefits__img" src="images/services/services-benefits/3.jpg" alt="">
            <div class="services-benefits__description">
                <p>
                    Сварочные работы, токарная и фрейзерная обработка
                </p>
            </div>
        </li>
        <li class="services-benefits__item">
            <img class="services-benefits__img" src="images/services/services-benefits/4.jpg" alt="">
            <div class="services-benefits__description">
                <p>
                    Порошковая окраска и сборка изделий из металла
                </p>
            </div>
        </li>
        <li class="services-benefits__item">
            <img class="services-benefits__img" src="images/services/services-benefits/5.jpg" alt="">
            <div class="services-benefits__description">
                <p>
                    Доставка до покупателя
                </p>
            </div>
        </li>
        <li class="services-benefits__item">
            <img class="services-benefits__img" src="images/services/services-benefits/1.jpg" alt="">
            <div class="services-benefits__description">
                <p>
                    Склад с металлом
                </p>
            </div>
        </li>
    </ul>
    <div class="services-benefits__text services__text">
        <p>
            Пинимаем заказы на плазменную резку с использованием современного борудования с ЧПУ. Обеспечим
            качественную резку цветного металла, легированной, оцинкованной, высокоуглеродистой и
            низкоуглеродистой
            сталей. Наша копания работает с металлом заказчиков, а также готова предоставить необходимый
            материал с
            собственного склада, который находится при производстве.
        </p>
        <p>
            Мы готовы выпонить как индивидуальный заказ на одну деталь, так и взяться за крупное серийное
            производство металлических изделий. Использование современных технологий на производстве позволяет
            выполнять любые операции плазменной резки на любом металле.
        </p>
        <p>
            У нас работы по плазменной резке отличаются высоким качеством и оптимальными расценками для
            предприятий.
            За десять лет работы мы накопили огромный опыт в этом направлении. В цехах предприятия работает
            более
            семи единиц оборудования, которое обслуживают профессионалы. Заказы выполняются с высоким качеством,
            в
            кратчайшие сроки и в любых объемах.
        </p>
    </div>
    <div class="services-benefits__wrapper">
        <div class="services-benefits__content">
            <p>
                Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим на все интересующие
                вопросы.
            </p>
        </div>
        <a class="services-benefits__link btn" href="#">Заказать услугу</a>
    </div>
</div>