<section class="copy page-section">
  <div class="container">
    <h2 class="title">Политика защиты персональных данных</h2>
    <div class="copy__text">
      <p>
        Настоящая Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей
        информации, которую юр.лицо ООО “Пензенский машиностроительный завод” (ОГРН: 1163668106360, ИНН: 360408198,
        адрес регистрации: Пензенская область, г. Пенза, ул. 40 лет Октября, 309) и/или его аффилированные лица, могут
        получить о пользователе во время использования им сайта https://anton.ru/.
      </p>
      <p>
        Использование сайта https://anton.ru/ означает безоговорочное согласие пользователя с настоящей Политикой и
        указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями
        пользователь должен воздержаться от использования данного ресурса.
      </p>
      <span>
        1. Персональная информация пользователей, которую получает и обрабатывает сайт https://anton.ru/
      </span>
      <p>
        1.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:
      </p>
      <p>
        1.1.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно при оставлении заявки,
        совершении покупки, регистрации (создании учётной записи) или в ином процессе использования сайта.
      </p>
      <p>
        1.1.2 Данные, которые автоматически передаются сайтом https://anton.ru/ в процессе его использования с помощью
        установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie,
        информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к сайту), время
        доступа, адрес запрашиваемой страницы.
      </p>
      <p>
        1.1.3. Данные, которые предоставляются сайту, в целях осуществления оказания услуг и/или продаже товара и/или
        предоставления иных ценностей для посетителей сайта, в соответствии с деятельностью настоящего ресурса:
      </p>
      <ul class="copy__list">
        <li class="copy__item">
          Имя
        </li>
        <li class="copy__item">
          Фамилия
        </li>
        <li class="copy__item">
          Отчество
        </li>
        <li class="copy__item">
          Номер телефона
        </li>
        <li class="copy__item">
          ip фдрес
        </li>
      </ul>
      <p>
        1.2. Настоящая Политика применима только к сайту https://anton.ru/ и не контролирует и не несет ответственность
        за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайте https://anton.ru/. На
        таких сайтах у пользователя может собираться или запрашиваться иная персональная информация, а также могут
        совершаться иные действия.
      </p>
      <p>
        1.3. Сайт в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и
        не осуществляет контроль за их дееспособностью. Однако сайт https://anton.ru/ исходит из того, что пользователь
        предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в формах настоящего
        ресурса, и поддерживает эту информацию в актуальном состоянии.
      </p>
      <span>
        2. ЦЕЛИ СБОРА И ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ
      </span>
      <p>
        2.1. Сайт собирает и хранит только те персональные данные, которые необходимы для оказания услуг и/или продаже
        товара и/или предоставления иных ценностей для посетителей сайта https://anton.ru/.
      </p>
      <p>
        2.2. Персональную информацию пользователя можно использовать в следующих целях:
      </p>
      <p>
        2.2.1 Предоставление пользователю персонализированных услуг и сервисов, товаров и иных ценностей
      </p>
      <p>
        2.2.2 Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся
        использования сайта, оказания услуг, а также обработка запросов и заявок от пользователя
      </p>
      <p>
        2.2.3 Улучшение качества сайта, удобства его использования, разработка новых товаров и услуг
      </p>
      <p>
        3. Условия обработки персональной информации пользователя и её передачи третьим лицам
      </p>
      <p>
        3.1. Сайт https://anton.ru/ хранит персональную информацию пользователей в соответствии с внутренними
        регламентами конкретных сервисов.
      </p>
      <p>
        3.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев
        добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.
      </p>
      <p>
        3.3. Сайт https://anton.ru/ вправе передать персональную информацию пользователя третьим лицам в следующих
        случаях:
      </p>
      <p>
        3.3.1. Пользователь выразил свое согласие на такие действия, путем согласия выразившегося в предоставлении таких
        данных;
      </p>
      <p>
        3.3.2. Передача необходима в рамках использования пользователем определенного сайта https://anton.ru/, либо для
        предоставления товаров и/или оказания услуги пользователю;
      </p>
      <p>
        3.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной
        законодательством процедуры;
      </p>
      <p>
        3.3.4. В целях обеспечения возможности защиты прав и законных интересов сайта https://anton.ru/ или третьих лиц
        в случаях, когда пользователь нарушает Пользовательское соглашение сайта https://anton.ru/.
      </p>
      <p>
        3.4. При обработке персональных данных пользователей сайт https://anton.ru/ руководствуется Федеральным законом
        РФ «О персональных данных».
      </p>
      <span>
        4. ИЗМЕНЕНИЕ ПОЛЬЗОВАТЕЛЕМ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
      </span>
      <p>
        4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию
        или её часть, а также параметры её конфиденциальности, оставив заявление в адрес администрации сайта следующим
        способом:
      </p>
      <ul class="copy__list">
        <li class="copy__item">Email: info@zavodpmz.ru</li>
      </ul>
      <p>
        4.2. Пользователь может в любой момент, отозвать свое согласие на обработку персональных данных, оставив
        заявление в адрес администрации сайта следующим способом:
      </p>
      <ul class="copy__list">
        <li class="copy__item">Email: info@zavodpmz.ru</li>
      </ul>
      <span>
        5. МЕРЫ, ПРИМЕНЯЕМЫЕ ДЛЯ ЗАЩИТЫ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЕЙ
      </span>
      <p>
        Сайт принимает необходимые и достаточные организационные и технические меры для защиты персональной информации
        пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования,
        распространения, а также от иных неправомерных действий с ней третьих лиц.
      </p>
      <span>
        6. ИЗМЕНЕНИЕ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ. ПРИМЕНИМОЕ ЗАКОНОДАТЕЛЬСТВО
      </span>
      <p>
        6.1. Сайт имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в
        актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее
        размещения, если иное не предусмотрено новой редакцией Политики.
      </p>
      <p>
        6.2. К настоящей Политике и отношениям между пользователем и Сайтом, возникающим в связи с применением Политики
        конфиденциальности, подлежит применению право Российской Федерации.
      </p>
      <span>
        7. ОБРАТНАЯ СВЯЗЬ. ВОПРОСЫ И ПРЕДЛОЖЕНИЯ
      </span>
      <p>
        7.1. Все предложения или вопросы по поводу настоящей Политики следует направлять следующим способом:
      </p>
      <ul class="copy__list">
        <li class="copy__item">Email: info@zavodpmz.ru</li>
      </ul>
    </div>
  </div>
</section>