<section class="production page-section">
  <div class="container">
    <h2 class="title">Производим корпуса и детали из листового металла</h2>
    <div class="production__wrapper">

      <ul class="production__slider">
        <li class="production__slide">
          <img class="production__img" src="images/slider/1.PNG" alt="">
        </li>
        <li class="production__slide">
          <img class="production__img" src="images/slider/1.PNG" alt="">
        </li>
        <li class="production__slide">
          <img class="production__img" src="images/slider/1.PNG" alt="">
        </li>
      </ul>

      <div class="production__box">
        <ul class="production__list">
          <li class="production__item">
            <span>Полный цикл производства "под ключ".</span>
            Вам не приходится беспокоиться ни о чем - просто ставите задачу и получаете результат.
          </li>
          <li class="production__item">
            <span>Если нет КД - мы разрабатываем КД.</span>
            Опираясь на другие комплектующие, чужой образец или хоть эскиз на салфетке.
          </li>
          <li class="production__item">
            <span>Ведем дела честно.</span>
            Соблюдаем сроки. Следим за качеством. Если допустили брак, переделываем без нервотрепки.
          </li>
          <li class="production__item">
            <span>Бесплатные пробные экземпляры при заказе партии.</span>
            Вы уверены, что детали в партии подходят.
          </li>
        </ul>
        <a class="production__link btn" href="#">Быстрый расчет стоимости</a>
      </div>

    </div>
  </div>

  @include('../_specifications/_specifications.html')

  <div class="container">
    <h3 class="subtitle">Завод "ТеплоВентМаш" - производитель станков плазменной резки</h3>
    <div class="production__inner">

      <div class="production__content">
        <div class="production__text">
          <p>
            История предприятия начинается с 2006 года, тогда основным направлением производства были промышленные
            вентиляторы и товары народного потребления.
          </p>
          <p>
            За десятилетие работы мы, как производители станков плазменной резки, и в СНГ, и в России завоевали
            репутацию надежного предприятия, выпускающего качественное муталлорежущее оборудование с ЧПУ, о чем
            свидетельствует множество отзывов наших партнеров. Это высокая честь, которой мы, безусловно,
            гордимся.
          </p>
        </div>
        <ul class="production__content-list">
          <li class="production__content-item">
            Каждый станок комплектуется исключительно под задачи заказчика
          </li>
          <li class="production__content-item">
            Сервисный центр решает вопросы по работе станков не более 3-х суток
          </li>
        </ul>
      </div>

      <div class="production__video">
        <iframe width="477" height="270" src="https://www.youtube.com/embed/tq0EHsUnwVQ" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

    </div>
  </div>

</section>