<section class="benefits page-section">
  <div class="container">
    <h2 class="title">Наши преимущества</h2>
    <div class="benefits__text">
      <p>
        Компания оказывет услуги в сфере металлообработки с 2007 года. За это время предприятие изготовило широкий
        ряд различного оборудования и реализовало множество проектов: нестандартные конструкции, узлы и детали
        любой
        сложности, а также решетки, заборы, лестницы и иные металлоконструкции или изделия из металла.
        Сотрудничество с предприятием отличают и другие преимущества:
      </p>
    </div>
    <ul class="benefits__list">
      <li class="benefits__item">
        <img class="benefits__img" src="images/icons/benefits/1.svg" alt="">
        <div class="benefits__description">
          <p>
            Принимаем чертежи в любом формате
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <img class="benefits__img" src="images/icons/benefits/2.svg" alt="">
        <div class="benefits__description">
          <p>
            Бесплатная онлайн-консультация
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <img class="benefits__img" src="images/icons/benefits/3.svg" alt="">
        <div class="benefits__description">
          <p>
            Изготовление деталей под ключ
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <img class="benefits__img" src="images/icons/benefits/4.svg" alt="">
        <div class="benefits__description">
          <p>
            Низкие цены
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <img class="benefits__img" src="images/icons/benefits/5.svg" alt="">
        <div class="benefits__description">
          <p>
            Берем заказы и доставляем продукцию по всей России
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <img class="benefits__img" src="images/icons/benefits/6.svg" alt="">
        <div class="benefits__description">
          <p>
            Плазменные и лазерные станки нового поколения
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <img class="benefits__img" src="images/icons/benefits/7.svg" alt="">
        <div class="benefits__description">
          <p>
            Срок выполнения заказа от 1 часа
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <img class="benefits__img" src="images/icons/benefits/8.svg" alt="">
        <div class="benefits__description">
          <p>
            Большой выбор дополнительных услуг
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>