.price {

    &__table {
        border-collapse: collapse;
        text-align: center;

        th {
            padding: 5px;
            background-color: $accent;
            color: $white;
        }

        td {
            padding: 5px;
        }
    }
}


@media (max-width: 880px) {
    .services {
        .price {
            &__wrapper {
                overflow-x: scroll;
            }
        }
    }
}