<div class="price page-section">
    <h3 class="subtitle">Стоимость плазменной резки</h3>
    <div class="price__wrapper">
        <table class="price__table" border="1">
            <tr>
                <th>Толщина разрезаемого металла. Н. мм</th>
                <th>Стоимость(руб/м)</th>
                <th>Толщина разрезаемого металла. Н. мм</th>
                <th>Стоимость(руб/м)</th>
                <th>От 1000м скидка</th>
            </tr>
            <tr>
                <td colspan="2">Конструкционная сталь</td>
                <td colspan="2">Нержавеющая сталь</td>
            </tr>
            <tr>
                <td>1мм</td>
                <td>от 35 руб.</td>
                <td>1мм</td>
                <td>от 35 руб.</td>
                <td>от 35 руб.</td>
            </tr>
            <tr>
                <td>2мм</td>
                <td>от 35 руб.</td>
                <td>2мм</td>
                <td>от 45 руб.</td>
                <td>от 45 руб.</td>
            </tr>
            <tr>
                <td>3мм</td>
                <td>от 45 руб.</td>
                <td>3мм</td>
                <td>от 55 руб.</td>
                <td>от 55 руб.</td>
            </tr>
            <tr>
                <td>4мм</td>
                <td>от 45 руб.</td>
                <td>4мм</td>
                <td>от 65 руб.</td>
                <td>от 65 руб.</td>
            </tr>
            <tr>
                <td>5мм</td>
                <td>от 60 руб.</td>
                <td>5мм</td>
                <td>от 75 руб.</td>
                <td>от 75 руб.</td>
            </tr>
            <tr>
                <td>6мм</td>
                <td>от 60 руб.</td>
                <td>6мм</td>
                <td>от 85 руб.</td>
                <td>от 85 руб.</td>
            </tr>
            <tr>
                <td>8мм</td>
                <td>от 75 руб.</td>
                <td>8мм</td>
                <td>от 95 руб.</td>
                <td>от 95 руб.</td>
            </tr>
            <tr>
                <td>10мм</td>
                <td>от 85 руб.</td>
                <td>10мм</td>
                <td>от 115 руб.</td>
                <td>от 115 руб.</td>
            </tr>
            <tr>
                <td>12мм</td>
                <td>от 95 руб.</td>
                <td>12мм</td>
                <td>от 130 руб.</td>
                <td>от 130 руб.</td>
            </tr>
            <tr>
                <td>14мм</td>
                <td>от 115 руб.</td>
                <td>14мм</td>
                <td>от 150 руб.</td>
                <td>от 150 руб.</td>
            </tr>
            <tr>
                <td>16мм</td>
                <td>от 135 руб.</td>
                <td>16мм</td>
                <td>от 170 руб.</td>
                <td>от 170 руб.</td>
            </tr>
            <tr>
                <td>20мм</td>
                <td>от 175 руб.</td>
                <td>20мм</td>
                <td>от 225 руб.</td>
                <td>от 225 руб.</td>
            </tr>
        </table>
    </div>
</div>