<section class="contacts page-section">
  <div class="container">
    <h2 class="title title--left">Контакты</h2>
    <div class="contacts__inner">

      <div class="contacts__box">
        <ul class="contacts__list">
          <li class="contacts__item contacts__item--phone">
            <span class="contacts__name">Телефон:</span>
            8-800-100-50-67
          </li>
          <li class="contacts__item contacts__item--email">
            <span class="contacts__name">E-mail для связи:</span>
            anton@anton.ru
          </li>
          <li class="contacts__item contacts__item--production">
            <span class="contacts__name">Производство:</span>
            <address class="contacts__address">
              Адрес: 111024, г. Москва, ш.Энтузиастов, 23
              Режим работы: ПН-ПТ, 9:00-18:00
            </address>
          </li>
        </ul>

        <a class="contacts__scheme" href="#">Скачать схему проезда</a>
      </div>

      <div class="contacts__box">
        <span class="contacts__name contacts__requisites">Реквизиты:</span>
        <ul class="contacts__requisites-list">
          <li class="contacts__requisites-item">
            ООО "ТеплоВентМаш"
          </li>
          <li class="contacts__requisites-item">
            Дата основания 11.02.2008 г.
          </li>
          <li class="contacts__requisites-item">
            ИНН/КПП 2130035632/213001001
          </li>
          <li class="contacts__requisites-item">
            ОГРН 1082130002327, ОКПО 99503284
          </li>
          <li class="contacts__requisites-item">
            Юр.адрес: 428020, Чувашия, г.Чебоксары, ул.Гладкова, д.7
          </li>
          <li class="contacts__requisites-item">
            Р/с 40702810111210000017
          </li>
          <li class="contacts__requisites-item">
            БИК 049706752
          </li>
          <li class="contacts__requisites-item">
            к/с 30101810600000000752
          </li>
        </ul>
      </div>

    </div>
    <div style="position:relative;overflow:hidden;"><a
        href="https://yandex.ru/maps/org/pao_obyedineniye_sergo_ordzhonikidze/1083640712/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:0px;">ПАО Обьединение Серго Орджоникидзе</a><a
        href="https://yandex.ru/maps/213/moscow/category/machine_building/184106628/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:14px;">Машиностроительный завод в Москве</a><a
        href="https://yandex.ru/maps/213/moscow/category/metalworking_equipment/184106660/?utm_medium=mapframe&utm_source=maps"
        style="color:#eee;font-size:12px;position:absolute;top:28px;">Металлообрабатывающее оборудование в
        Москве</a><iframe class="contacts__map" src="https://yandex.ru/map-widget/v1/-/CCU6jVSvCA" width="100%"
        height="380" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
  </div>
</section>