<div class="orders page-section">
    <h3 class="subtitle">Выполненные заказы</h3>
    <ul class="orders__list">
        <li class="orders__item">
            <a class="orders__link zoom" href="images/services/orders/1.jpg"
                style="background-image: url(images/services/orders/1.jpg);" width="255" height="180"
                data-fancybox="images">
            </a>
        </li>
        <li class="orders__item">
            <a class="orders__link zoom" href="images/services/orders/2.jpg"
                style="background-image: url(images/services/orders/2.jpg);" width="255" height="180"
                data-fancybox="images">
            </a>
        </li>
        <li class="orders__item">
            <a class="orders__link zoom" href="images/services/orders/3.jpg"
                style="background-image: url(images/services/orders/3.jpg);" width="255" height="180"
                data-fancybox="images">
            </a>
        </li>
        <li class="orders__item">
            <a class="orders__link zoom" href="images/services/orders/4.jpg"
                style="background-image: url(images/services/orders/4.jpg);" width="255" height="180"
                data-fancybox="images">
            </a>
        </li>
    </ul>
</div>