.orders {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 6px;
    }

    &__link {
        min-height: 180px;
    }
}


@media (max-width: 768px) {

    .orders {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

}


@media (max-width: 480px) {
    .orders {
        &__list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}