<div class="specifications">
    <div class="container">
        <ul class="specifications__list">
            <li class="specifications__item">
                <span class="specifications__number">+/- <span>0,05</span> мм</span>
                Точность позиционирования и реза
            </li>
            <li class="specifications__item">
                <span class="specifications__number"><span>10 000</span> мм/мин</span>
                Максимальная скорость резки
            </li>
            <li class="specifications__item">
                <span class="specifications__number">до <span>350</span> мм</span>
                Резка черной стали
            </li>
            <li class="specifications__item">
                <span class="specifications__number">до <span>100</span> мм</span>
                Резка нержавеющей стали и аллюминиевых сплавов
            </li>
            <li class="specifications__item">
                <span class="specifications__number"><span>6000</span> x <span>2000</span></span>
                Габариты рабочих столов
            </li>
        </ul>
    </div>
</div>