<header class="header">

  <nav class="menu">

    <div class="container">
      <div class="menu__top">

        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.png" alt="логотип" id="home">
        </a>

        <ul class="menu__top-list">
          <li class="menu__top-item">
            <a class="menu__top-link" href="#">Примеры</a>
          </li>
          <li class="menu__top-item">
            <a class="menu__top-link" href="#">Кейсы</a>
          </li>
          <li class="menu__top-item">
            <a class="menu__top-link" href="#">Видео</a>
          </li>
        </ul>

        <form class="form" action="#">
          <div class="form__top">
            <h2 class="form__title">Свяжитесь с нами сейчас:</h2>
            <button class="form__close">
              <svg class="form__img">
                <use xlink:href="images/sprite.svg#close"></use>
              </svg>
            </button>
          </div>
          <div class="form__bottom">
            <input class="form__field" type="text" placeholder="Ваше имя">
            <input class="form__field" type="text" placeholder="Контактный телефон">
            <textarea class="form__field form__area" placeholder="Комментарий"></textarea>
            <button class="form__btn btn" type="submit">Отправить</button>
          </div>
        </form>

        <ul class="menu__contact-list">
          <li class="menu__contact-item">
            <a class="menu__contact-phone" href="tel:8(804)3336830">8 (804) 333 68 30</a>
          </li>
          <li class="menu__contact-item">
            <a class="menu__contect-email" href="#">Задать вопрос</a>
          </li>
        </ul>

      </div>
    </div>


    <div class="menu__bottom">
      <div class="container">

        <button class="menu__btn">
          <span></span>
        </button>

        <ul class="menu__bottom-list">
          <li class="menu__bottom-item">
            <a class="menu__bottom-link" href="#">Виды продукции</a>
            <!-- <ul class="sub-menu__list">
              <li class="sub-menu__item">
                <a class="sub-menu__link" href="#">Продукция 1</a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link" href="#">Продукция 2</a>
              </li>
              <li class="sub-menu__item">
                <a class="sub-menu__link" href="#">Продукция 3</a>
              </li>
            </ul> -->
          </li>
          <li class="menu__bottom-item menu__bottom-item--hidden">
            <a class="menu__bottom-link" href="#">Примеры</a>
          </li>
          <li class="menu__bottom-item menu__bottom-item--hidden">
            <a class="menu__bottom-link" href="#">Кейсы</a>
          </li>
          <li class="menu__bottom-item menu__bottom-item--hidden">
            <a class="menu__bottom-link" href="#">Видео</a>
          </li>
          <li class="menu__bottom-item">
            <a class="menu__bottom-link" href="#" id="plasma">Плазменная резка</a>
          </li>
          <li class="menu__bottom-item">
            <a class="menu__bottom-link" href="#" id="laser">Лазерная резка</a>
          </li>
          <li class="menu__bottom-item">
            <a class="menu__bottom-link" href="#" id="gallery">Примеры работ</a>
          </li>
          <li class="menu__bottom-item">
            <a class="menu__bottom-link" href="#" id="about">О компании</a>
          </li>
          <li class="menu__bottom-item">
            <a class="menu__bottom-link" href="#" id="contacts">Контакты</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>

</header>